export PIPENV_VENV_IN_PROJECT="enabled"
export BETTER_EXCEPTIONS=1
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

export MANPAGER='less -X';

alias hg="history | grep"
alias pydebug="python3 -m pdb -c continue"
alias scalc="soffice --calc"
alias ls="lsd"
alias postgres-up="docker container run --name postgres-test-db -p 54320:5432 -e POSTGRES_USER=db -d postgres:9.6"
alias twm="${HOME}/scripts/toggle-wm.sh"

