# Compiled Python files
*.pyc
.venv
.mypy_cache
venv

# Folder view configuration files
.DS_Store
Desktop.ini

node_modules
.bin

.ipynb_checkpoints/

.zsh/work
.obsidian/workspace
.obsidian-git-data
.obsidian/app.json
