[user]
	name = itsAlexK
	email = contactkaichen@gmail.com
[alias]
        cleanup = "!git fetch -ap; git branch | grep -v "master" | grep -v ^* | xargs git branch -D;"
		up = "!git pull --rebase --prune $@ && git submodule update --init --recursive"
		save ="!git add --all && git commit --all -m 'SAVE'"
		undo = "!git reset --soft HEAD~1"
		lg = !zsh -c 'source $HOME/.zsh/fzf && gli'
		ignore =  "!git update-index --skip-worktree"
		unignore= "!git update-index --no-skip-worktree"
		showignored = "!git ls-files -v|grep '^S'"
		untag = "!git tag -d"

[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
	pager = delta --dark --hunk-style=plain --plus-color="#004d00"
	editor = vim
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
