# Compiled Python files
*.pyc
.venv
.mypy_cache
venv

# Folder view configuration files
.DS_Store
Desktop.ini

node_modules
.bin

.ipynb_checkpoints/

.zsh/work
.obsidian/workspace
.obsidian-git-data
.obsidian/app.json

.config/karabiner/automatic_backups
.config/coc
.config/brazil/
.config/cr/
.config/ninja-dev-sync.json
.config/cdd2
.config/eda
.config/rde
.config/ada
.config/configstore

.envrc
