[user]
	name = itsAlexK
	email = contactkaichen@gmail.com
[alias]
        cleanup = "!git fetch -ap; git branch | grep -v "master" | grep -v ^* | xargs git branch -D;"
		up = "!git pull --rebase --prune $@ && git submodule update --init --recursive"
		save ="!git add --all && git commit --all -m 'SAVE' --no-verify"
		undo = "!git reset --soft HEAD~1"
		lg = !zsh -c 'source $HOME/.zsh/fzf && gli'
		ignore =  "!git update-index --skip-worktree"
		unignore= "!git update-index --no-skip-worktree"
		showignored = "!git ls-files -v|grep '^S'"
		untag = "!git tag -d"
    	recent = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'

[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
	pager = delta --dark --hunk-style=plain --plus-color="#004d00"
	editor = vim
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[pull]
	ff = only
